// Ovo dodje poput palete sa bojama, samo ovde smo dodali sve karakteristike koje ce .btn da ima. 
// Onda preko @each mi setujemo naziv i boju, dok ostali podaci se nasladjuju/dodaju
// $bg-color: #e2e2e2 - defaultna boja kada koristimo .btn, i onda dodam .btn .btn-primary, i preko .btn-prumary pregazicemo background-color.

@mixin btn($bg-color: #e2e2e2) {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: $base-padding $base-padding * 2;
  border-radius: $base-border-radius;
  background-color: $bg-color;
}

.btn {
  @include btn;
}

@each $key, $val in $colors {
  // .btn-primary - za hover nema razgranje kao za text i background, nego je 0.5 i vazi za svu dugmad.
  .btn-#{$key} {
    @include btn($val);
    // .btn-primary:hover
    &:hover {
      background-color: lighten($val, 5);
    }
  }
  .btn-outlined-#{$key} {
    @include btn(#fff);
    border: $base-border-thickness solid $val;
    &:hover {
      background-color: $val;
    }
  }
}